/* Custom Styles */
.font-eras2 {
    font-family: 'Eras2', sans-serif;
}

.aside-header-font {
    align-items: center;
    text-align: left;
    font-family: 'Eras2', sans-serif;
    font-size: 26px;
    color: black;
    font-weight: bold;
}

.main-header-font {
    align-self: flex-start;
    text-align: left;
    font-family: 'Eras', sans-serif ;
    font-size: 36px;
    color: black;
    font-weight: bold;
    margin-right: 120px;
}

.main-section-font {
    align-items: center;
    text-align: left;
    font-family: 'Eras2', sans-serif ;
    font-size: 20px;
    color: #999999;
    text-decoration: underline;
}

/* Media Query for Small Screens (e.g., Mobile) */
@media screen and (max-width: 640px) {
    .aside-header-font {
        font-size: 16px;
    }

    .main-header-font {
        font-size: 30px;
    }

    .main-section-font {
        font-size: 18px;
    }
}
/* Media Query for Desktops */
@media screen and (min-width: 1024px) {
    /* Adjust the styles for desktops here */
}
